<section id="products">
        <h1>Inventory</h1>
        
        <div class="form-group">
          <form method="POST" action="/products/list">
            <select class="form-control form-control-lg" id="category" name="category">
                    <option selected value="all">All</option>
                    <option name="Electronics" value="Electronics">Electronics</option>
                    <option name="Mobile Phones and Tablets" value="Mobile Phones and Tablets">Mobile Phones and Tablets</option>
                    <option name="Home,Furniture And Appliances" value="Home,Furniture And Appliances">Home,Furniture And Appliances</option>
                    <option name="Watches" value="Watches">Watches</option>
              <option name="Home & Beauty" value="Home & Beauty">Home & Beauty</option>
              <option name="Fashion" value="Fashion">Fashion</option>
              <option name="Sports, Arts and Outdoors" value="Sports, Arts and Outdoors">Sports, Arts and Outdoors</option>
              <option name="Jobs" value="Jobs">Jobs</option>
              <option name="Agriculture And Food" value="Agriculture And Food">Agriculture And Food</option>
              <option name="Commercial Equipments And Tools" value="Commercial Equipments And Tools">Commercial Equipments And Tools</option>
              <option name="Repair And Constructions" value="Repair And Constructions">Repair And Constructions</option>
              <option name="Computer Hardware and Software Services" value="Computer Hardware and Software Services">Computer Hardware and Software Services</option>
            </select>
                <input class="form-control form-control-lg" type="submit" value="Search">
            </form> <br><br>
        </div>
        <div class="products-class">

             {{#each data}}
             
                <div class="products-box">
                    <p>{{this.name}}</p>
                    <h5>{{this.category}}</h5>
                    <h6>{{this.description}}</h6>
                    <span>
                        <a href="/products/details/{{this.id}}"><img src="/img/{{this.thumb}}" width="300px" height="300px"></a>
                    </span>
                    <p id="price">${{this.price}}</p>
                </div>
            {{/each}}   
        </div>
</section>

